layout {

    focus-ring {
        active-color   "#b8bb26"
        inactive-color "#282828"
        urgent-color   "#fb4934"
    }

    border {
        active-color   "#b8bb26"
        inactive-color "#282828"
        urgent-color   "#fb4934"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b8bb26"
        inactive-color "#6a6c0f"
        urgent-color   "#fb4934"
    }

    insert-hint {
        color "#b8bb2680"
    }
}
